/* Contains CSS for positioning the blurbs. Edit with care */


/*********************************************************************************/
/* Global Styles */
/*********************************************************************************/
/* list processing*/
ul, ol {
  padding-inline-start: 1.5em;
}








/*********************************************************************************/
/* Blurb Styles */
/*********************************************************************************/
/* Default style for all small blurbs */
.roundbox{
  border-radius: 5px;
  position: relative;
  padding: 2em 1em;
  margin: 40px 0px;
  box-shadow: 1px 1px 2px #838383;
}
/* Garnish formats */
.roundbox::before, .roundbox::after{
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
  position: absolute;
  box-shadow: 1px 1px 3px #838383;
}

/*Screen size specific items*/
@media (min-width:993px){ /*Fancy Labels on Desktop*/
  .Equation::after{
      left: calc(100% - 4.6em)!important;
   }
  .Question::before{   
      left: -20px!important;
   }
  }



/*********************************************************************************/
/* Big Card Styles */
/*********************************************************************************/
/* Custom cards */
.w3-card header{
  border-top-left-radius: 5px!important;
  border-top-right-radius: 5px!important;
  font-size:larger!important;
}
.w3-card footer{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size:larger!important; 
 }
.w3-card header h3{
  font-weight: bolder;
  font-size:larger;
}
.w3-card{
  border-radius: 5px;
  overflow: hidden;
  margin:2em auto;
}
.active, .collapsible:hover {
  filter: brightness(0.9);
}

/* Collabsible Cards */
.collapsible {
  background-color: inherit;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  transition: transform 1s ease-out!important;
  color:inherit;
  display:block
}
.slideopen{
  overflow: hidden;
  max-height: 8.7em;
  transition: max-height 1s ease-out!important;
}
.preview-hide{
  --box-shadow-color : white;
  box-shadow:  0px -1em 3em 3em var(--box-shadow-color);
  transition: opacity 1s ease-out!important;
}
.preview-show{
  box-shadow:  0px 0px white;
  transition: opacity 1s ease-out!important;
}
.vshaker{ 
  animation: vshake 7s cubic-bezier(.16,.17,.19,.37) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  animation-iteration-count: infinite;
  perspective: 1000px;
}
@keyframes vshake {
  2%, 20% {
    transform: translate3d(0, -1px, 0);
  }
  4%, 16% {
    transform: translate3d(0, 2px, 0);
  }
  6%, 10%, 14% {
    transform: translate3d(0, -3px, 0);
  }
  8%, 12% {
    transform: translate3d(0, 3px, 0);
  }
}

/*********************************************************************************/
/* Exercise box formats */
.Exercise{
  max-width: 94%;
}
.Exercise > header > h3::after {
  counter-increment:exercise;
  content:  " " counter(exercise);
}
.Exercise > .w3-container > ol{
  margin: 0px 2em;
}
.Exercise > .w3-container > ol > li{
  margin: 20px 1em;
}

.Exercise hr{
  border-top: 1px solid #999999;
}
/*********************************************************************************/
/* Simulation box formats */
.Simulation{  
  max-width: 90%;
  margin:30px auto;
}

.Simulation header h3::after  {
  counter-increment: simulation;
  content:' ' counter(simulation);    
}


/*********************************************************************************/
/* Blurb-Specific Styles */
/*********************************************************************************/

/* Material box formats */
.Materials{
    margin: 30px;
    border-radius: 5px!important;
    display: inline-block;
    min-width: 30%;
    float: left;
 }
.Materials ul > li::before{
  content: '\f046  ';
  font-family: FontAwesome!important;
}
.Materials ul > li > ul > li::before{
  content: '\f054   ';
  font-family: FontAwesome!important;
  font-size: 80%!important;
}
.Materials ul > li{
  list-style-type: none;
}
.Materials ul > li > ul > li{
  font-size: smaller!important;
}
.Summary{
  margin: 30px ;
}

/*********************************************************************************/
/* Equation box formats */
.Equation::before{
  display: none;
}
.Equation::after{
    counter-increment: equation;
    white-space: nowrap;
    content: "Equation " counter(equation);
    background-color:#e7e7e7!important; 
    text-align: center;
    top:calc(100% - 1em);
    left:calc(50% - 3.3em);    
    } 
/*********************************************************************************/
/* Question box formats */
.Question{
  background-color: #009688!important;
  color: white;
 }
.Question::before {
  counter-increment: question;
  content: "Question "  counter(question);
  background-color:#4fa199!important;
  position: absolute;
  top: -1em;
  left:calc(50% - 3.6em); 
}
.Question ol{ 
  list-style-type: lower-alpha!important;
  text-align: left;
  margin: 0px 20px;
  max-width: calc(100% - 60px);
}
.Question p{
  text-align: center;
}
.Question ol>li>p{
  margin-left:0px!important;
  text-align: left!important;
}
.Question::after{
  display: none;
}

/*********************************************************************************/
/* Note box formats */

/* Default style for all note boxes */
.notebox{
  border-radius: 5px;
  position: relative;
  padding: 1em 1em;
  margin: 5em 0px 30px 0px;
  box-shadow: 1px 1px 2px #838383;
}
/* Garnish formats */
.notebox::before, .notebox::after{
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
  position: absolute;
  box-shadow: 1px 1px 3px #838383;
}


.Note:before{
    content: " \f08d ";
    font-family: FontAwesome!important;
    left:calc(50% - 1em);
    top:-55px;
    font-size: xxx-large;
    transform: rotate(340deg);
    text-shadow: 1px 3px 5px #7a7850;
    box-shadow: 0px 0px;
  }

/*********************************************************************************/
/* Warning box formats */
.Warning{
  cursor: pointer;
}
.Warning h3{
    font-weight: bold!important;
    margin-top:2em;
}

.Warning:before{
    content: " \f071 ";
    font-family: FontAwesome!important;
    left:calc(50% - 1em);
    top:-1em;
    font-size: xxx-large;
    box-shadow: 0px 0px;
  }
.Warning_muted h3{
  margin-top:1em;
}

.hshaker{
  animation: hshake 1.82s cubic-bezier(.16,.17,.19,.37) both;
  animation-iteration-count: infinite;
}

.hshaker:hover{
  animation-iteration-count: 0;
}

@keyframes hshake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }  
  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

/*********************************************************************************/
/* Hider box formats */

.Hider h3{
  font-weight: normal!important;
  font-size: 100%!important;
}

.Hider .slideopen{
  max-height:0px;
}
.Hider .preview-hide{
  box-shadow:  0px 0px white;
}


/*********************************************************************************/
/* Video box formats */
.Video{   
    text-align: center;
    display: inline-block;
  }
  
.Video iframe{
    margin: auto;
    min-width: 80vw;
    min-height: 56vw;
}

@media (min-width:993px){ /*Fancy Labels on Desktop*/
  .Video iframe{
    min-width: 45vw;
    min-height: 25.3125vw;
  }
}

.Video header{
  margin: 0px 0px 10px 0px;
}
.Video header h3::after {
    counter-increment: video;
    content: " "  counter(video)" ";  
  }

  
/*********************************************************************************/
/* Table formats */

.Table{
    border-collapse:collapse;
    padding:0px!important;
    margin-bottom: 30px;
    overflow-x:scroll;
    text-align: center;
    display: inline-block;
  }
  .Table .w3-container{
    margin:0px;
    padding: 0px;
  }
  .Table header h3:after{
    counter-increment: table;
    content: " "  counter(table);
      
  }
  .Table table {
    max-width: 100%;
    margin: auto;
    padding: 10px 10px;
    font-size: smaller;
    text-align: center; 
  }
  th, td {
    padding:10px 5px
  }
  th{
    border-radius: 2px;
    font-size: 100%;
  }
  td{
    font-size: smaller;
  }
  
  



/*********************************************************************************/
/*********************************************************************************/
/* Figures: the monster */


/* All Figures */

.Fig{
  margin: 0.2em auto;
  position: relative;
  display: inline-block;
  max-width: 80%;
  clear: both;
}

.Fig footer{
  margin-top:15px;
 
}

.Fig footer h3::after{
  counter-increment: figure;
  content: counter(figure);
  display:inline!important;
}

.Fig img{
  max-width: 100%;
 }

.Fig .w3-container{
  overflow: hidden!important;
}

/* Wide figures */
/* Regular full size figure */
.Figure{
  clear: both;
  padding-top: 20px;
  /* display: block!important; */
   }

.Figure .w3-col{
  padding: 0px 10px;
  vertical-align: middle;
}
.Figure img{
  vertical-align: middle;
  }



/* Figure Float right/left */





@media (min-width:993px){
.active-center{
  text-align: unset;
}

.RFigure{ float: right;
 
  margin-right: 0.4em !important;
  margin-left: 0.8em !important;
 
}

.LFigure{ float: left;
 
  margin-right: 0.8em !important;
  margin-left: 0.4em !important;
 
}

.RFigure img, .LFigure img{
  display: block;
}

 .xs img{
  max-width:10em;
  max-height:10em;
 }
 
.s img{
  max-width:15em;
  max-height:15em;
  }

.m img{
  max-width:20em;
  max-height:20em;
}

.l img{
  max-width:25em;
  max-height:25em;
}

.xl img{
  max-width:40em;
  max-height:40em;
}
.Fig img{
  object-fit: cover;
  object-position: 50% 50%;
  max-width:100%; 
}
}





/*********************************************************************************/
/* Misc Utility */
/*********************************************************************************/


/* This forces seperator columns for center blurbs*/
.placehold{
    white-space: pre!important;
  }
