/* set counters and base font size */
body {
    counter-reset: question exercise figure equation table simulation video foot;  
    font-size: medium;
    }

@media (max-width:601px){
  body {font-size: small!important;}
  .tooltiptext{
    left:30px;
    width: calc( 100% - 60px);
  }
  #mdcontent{
    margin-top:20px;
    margin-right:0px;
    margin-left:5px;
    padding: 0px 0px;
  }
 
}
@media (min-width:601px){
  body{font-size: medium;}
  .tooltiptext{
    left:30px;
    width: calc( 100% - 60px);
  }
  #mdcontent{
    margin-top:20px;
    margin-right:20px;
    margin-left:20px;
    padding: 0px 20px;
  }
  
}
@media (min-width:992px){
  body{font-size: large!important;}
  .tooltiptext{
    left:370px;
   width: calc( 100% - 420px);
  }
  #mdcontent{
    margin-top:20px;
    padding: 0px 20px;
    margin-left:0px;
    margin-right:20px
  }
 
}

/* Stop images from running over sections */
h1 {
  clear: both;
  color: #009688!important;
  font-size: 225%;
  padding: 20px 0px;
  border-bottom: rgb(202, 201, 201) solid 1px;
}

h2{
  color: black!important;
  font-size: 175%;
  padding:70px 0px 20px 0px; 
  margin-left: 20px;
  margin-top:-50px;
  display: block;
  clear: both;
}


#mdcontent > h3{
  color: rgb(22, 22, 22)!important;
  font-size: 125%;
  padding:10px 20px; 
  text-decoration-line: underline;
  text-decoration-color:  rgb(202, 201, 201) ;
  text-decoration-thickness: 0.1em;
 
}


/*fix links to sections */
h1::before, h2::before {
  display: block;
  content: " ";
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

/* Main header */
#part0{
  color:black!important;
  font-size: 300%;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  border: 0px!important;
  margin-top: 50px!important;
  padding-top: 0px;
  text-align: center;
}


/* make the main paragraphs pretty */
#mdcontent{
   max-width: 1200px;
   z-index: 0!important;
}

#mdcontent > p{
  text-indent: 1em;
  text-align: left;
  text-rendering: optimizeSpeed;
  padding-left:20px;
  line-height: 1.7
}

/* Make sure figure images don't blow up */
#mdcontent > .Figure  img, .RFigure img, .LFigure img{
    max-width: 100%;
    cursor: pointer;
}

.Question img, .Exercise img{
  max-width: 100%;
}



/* Make the inner text of figures pretty */
#mdcontent > .Fig  p{
  padding:10px;
  white-space: normal;
  display: block;
}



/* *********************************** */
/* Navbar */
/* *********************************** */
/* Table of contents */

#mySidebar{
  position: relative;
  overflow:hidden;
}

#TOCprint > ul{
  margin-left:0px;
  padding: 0px;
}
#TOCprint > ul ul{
  margin-left:0px;
  padding-left: 20px;
  font-size: smaller;
}

#TOCprint{
  padding: 0p 18px;
  max-height: calc(100% - 60px);
  overflow-y: scroll!important;
  transition: max-height 0.5s ease-out;
}

/* Hide scrollbar for Chrome, Safari and Opera*/
#TOCprint::-webkit-scrollbar, .Table::-webkit-scrollbar{
  width: 10px;
  height: 20px;
  background-color: #f0f0f0; /* or add it to the track */
}
#TOCprint::-webkit-scrollbar-thumb,  .Table::-webkit-scrollbar-thumb{
  width: 10px;
  height: 20px;
  background-color: #aaa; /* or add it to the track */
}


#collapsible {
  background-color: #009688;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: center;

  font-size: larger;
  font-weight: bold;
  height: 60px;
  position: absolute;
  bottom:0px;
  z-index: 2;
 
}

#collapsible:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

 

#chatscreen{

  width:100%;
  height:calc(100% - 120px);
  background-color: #f0f0f0 !important;
  overflow: hidden;
  position: absolute;
  top:0px;
  
}

#nectirbut{
  padding-top: 10px;
  padding-bottom: 10px;
}
 
/* Add a background color to the button if it is clicked on 
(add the .active class with JS), and when you move the mouse over it (hover) */
.active, #collapsible:hover{
  background-color: #ccc;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}





/*******************************************************************/
/* Image Modals */

@media (max-width: 992px) {
  .modal-content-wrapper .image-modal-content {
    flex: 0 0 45%;
  }
}
@media (max-width: 550px) {
  .modal-content-wrapper .image-modal-content {
    flex: 0 0 100%;
  }
}
.modal-content-wrapper .image-modal-content:hover {
  transform: scale(1.03);
  transition: 300ms ease-in;
}
.modal-content-wrapper .image-modal-content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #222;
}

/* modal popup styles */
.image-modal-popup {
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  animation: 500ms fadeIn;
  display: none;
  z-index: 1000;
}
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-modal-popup .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.image-modal-popup .description {
  text-align: center;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px
}
.image-modal-popup img {
  
  max-height: calc(100vh - 200px);
  max-width: calc(100vw - 50px);
  margin-bottom: 10px;
  cursor: pointer;
  background-color: white;
}
.image-modal-popup span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 4rem;
  color: red;
  cursor: pointer;
}
.image-modal-popup p {
  margin: 5px auto;
  font-size: 1.1rem;
}
.image-modal-popup a {
  margin-bottom: 5px;
  display: inline-block;
  color: #222;
  font-weight: 500;
  text-decoration: none;
  background: #fff;
  margin: 10px 10px;
  padding: 10px 15px;
  border-radius: 6px;
}


.image-modal-popup h3{
  
  color: white;
}

/******************************************************************************/
/* drop down nav */

#lablist{
  z-index: 1;
  width:100vw;
  display: block;
  top:39px;
  position: fixed;
 
}

#lablist .w3-bar-item{
  z-index: 5;
  background-color: white;
  text-align: center;
  border-top: 1px #ccc solid;
}
/* footer */



footer{
  position: relative;
  left:0px;
  padding:0px;
}

#ILGfooter{
  padding:0px;
  width: 100%;
  text-align: right;
  font-size: x-small;
  background-color:#bbbbbb;
}

#ILGfooter p{
  vertical-align: center;
}

/************************************************************************/
/* Summary for Q's and E's */

.Summary{
text-align: center;
}
.qtotal::after{
  content: counter(question) ' Questions';
  
}

.etotal::after{
  content: counter(exercise) ' Exercises';
  }

.qtotal, .etotal{
  
  border-radius: 10px;
  font-size: larger;
  padding:5px;
  color:white;
}

.qtotal{
  background-color: #009688;
  margin:10px auto;
  align-content: center;
  width: 80%;
} 
.etotal{
  background-color: rgb(121, 121, 121);
  margin: 10px auto;
  align-content: center;
  width: 80%;
}


.qtotal::after, 
.etotal::after {
  font-weight: bolder;
  font-size: larger;
  border-radius: 5px;
  font-family: "Segoe UI",Arial,sans-serif;
  padding: 5px 15px;
  text-align: center;


}

#mdcontent pre{
  background-color:#ccc;
  padding:20px;
  border:rgb(121, 121, 121) solid 2px;
  white-space: pre-wrap;
  font-size: smaller;
  width:80%;
  margin:20px auto;
  text-align: left;
}

#mdcontent pre::before{
  content: 'Example Code\A';
  font-size: larger;
  font-weight: bolder;
  overflow: visible;
}

#mdcontent code{
  background-color:#ccc;
  
}

/* Tooltip container */
.tooltip {
  position: static;
  display: inline;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip sup::before{
  counter-increment: foot;
  content: '[' counter(foot) ;
}

/* Tooltip text */
.tooltip .tooltiptext {

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  max-width:100%;
  /* Position the tooltip text */
  position:fixed;
  bottom: 5px;
  opacity: 0;
  transition: opacity 5s ease;
  border: black 8px solid;
  text-indent: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  display: block;
  transition: opacity 1s ease;
  z-index:2;
}


.tooltiptext p{
 background-color: black;
}
